<div class="mb-4">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="input-group">
        <label class="input-group-text">Items</label>
        <select
          class="form-select"
          [(ngModel)]="pagination.limit"
          (change)="changeItems($event)"
        >
          <option *ngFor="let opt of itemsPerPage" value="{{ opt }}">
            {{ opt }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-8">
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
        <input
          type="text"
          class="form-control"
          placeholder="Serach..."
          [(ngModel)]="setInputSearch"
        />
      </div>
    </div>
    <button class="d-flex btn btn-success" [routerLink]="'/users/new'">
      <i class="fa fa-plus my-1"></i>
    </button>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th *ngFor="let field of fields">{{ field.label }}</th>
    </tr>
  </thead>
  <tbody *ngIf="items && items.length">
    <tr *ngFor="let row of items" style="cursor: pointer">
      <td *ngFor="let head of fields">
        <span *ngIf="head.type === 'image'"
          ><img src="{{ row[head.key] }}"
        /></span>
        <span *ngIf="head.type !== 'image'">{{ row[head.key] }}</span>
        <div class="btn-group" *ngIf="head.key === 'actions'">
          <button *ngFor="let btn of head.buttons" (click)="btnClick($event, btn.action, row.id)" class="btn btn-{{ btn.class }}"><i class="fas fa-{{ btn.icon }}"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <pagination
    [totalItems]="pagination.total"
    [itemsPerPage]="pagination.limit"
    [(ngModel)]="pagination.page"
    (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
