<app-content-header
  [titulo]="'User'"
  [subtitulo]="subtititle"
  [icon]="'fas fa-user'"
/>

<div class="container">
  <div class="card rounded shadow-md mt-4 p-3">
    <form *ngIf="userForm" [formGroup]="userForm">
      <div class="row">
        <div class="col-md-4 pt-1 mb-3">
          <div class="card mb-3">
            <div class="card-header"></div>
            <div class="d-flex align-self-center pt-3">
              <a>
                <img
                  src="{{ user.picture }}"
                  name="aboutme"
                  width="120"
                  height="110"
                  class="rounded-circle"
                />
              </a>
            </div>
            <div class="card-body">
              <div class="h4 fw-bold"></div>
              <div style="font-size: 14px">
                <small class="p-1"
                  ><b>FirstName:</b> {{ user.firstName }} </small
                ><br />
                <small class="p-1"><b>LastName:</b> {{ user.lastName }}</small
                ><br />
                <small class="p-1"><b>Email:</b> {{ user.email }} </small><br />
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col-lg-8 mb-3">
          <div class="row">
            <div class="col-12">
              <h4 class="border-bottom">Details</h4>
            </div>
            <div *ngFor="let input of inputs" class="form-group">
              <label class="form-label fw-bold"  for="{{ input.name }}">{{ input.label }}</label>
              <input
                class="form-control"
                type="{{ input.type }}"
                id="{{ input.name }}"
                placeholder="Enter {{ input.label }}..."
                formControlName="{{ input.name }}"
                [(ngModel)]="user[input.name]"
                value="{{ user[input.name] }}"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-grid gap-2 d-md-flex">
          <button class="btn btn-danger me-md-auto" (click)="details()">Desfazer alterações</button>
          <button class="btn btn-success me-md-2">
            Salvar alterações
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
